.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.cart-item-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.img {
  border-radius: 8px;
  width: 64px;
}

.text {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 14px;
  color: gray;
}
