.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price p {
  text-transform: uppercase;
  color: gray;
}

.color {
  color: var(--dark-orange);
}

.flex {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
