.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  margin: 60px 0;
}

@media (max-width: 1200px) {
  .categories {
    flex-direction: column;
    gap: 100px;
  }
}
