.menu {
  display: flex;
  gap: 25px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-item-active {
  color: var(--dark-orange);
}

.menu-item:hover,
.menu-item-active:hover {
  color: var(--dark-orange);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 950px) {
  .menu {
    display: none;
  }
}
