.header-bg-black {
  background-color: black;
  display: flex;
}

.back {
  width: 100%;
  display: flex;
  justify-content: left;
  color: gray;
  margin-bottom: 30px;
}

.back p {
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body {
  display: flex;
  gap: 50px;
  width: 100%;
}

.billing {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.billing .title {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-orange);
}

.billing-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
}

.payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.payment p {
  font-size: 12px;
  font-weight: bold;
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1200px) {
  .body {
    flex-direction: column;
  }
}
