@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-decoration: none;
  color: inherit;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
  background-color: var(--light-gray);

  --dark-orange: #d87d4a;
  --light-orange: #fbaf85;
  --black: #101010;
  --gray: #f1f1f1;
  --light-gray: #fafafa;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 58px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 44px;
}
h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  line-height: 36px;
}
h4 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  line-height: 38px;
}
h5 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  line-height: 33px;
}
h6 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  line-height: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
