.checkout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
  border-radius: 8px;
  z-index: 0;
  width: 70%;
  padding: 50px 40px;
}

@media (max-width: 1200px) {
  .checkout {
    width: 100%;
  }
}
