.checkout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
  border-radius: 8px;
  z-index: 0;
  width: 70%;
  padding: 50px 40px;
}

.billing {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.billing .title {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-orange);
}

.billing-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
}

.payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.payment p {
  font-size: 12px;
  font-weight: bold;
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cod {
  color: gray;
  display: flex;
  gap: 40px;
  margin-top: 35px;
}

@media (max-width: 1200px) {
  .checkout {
    width: 100%;
  }
}
