.summary {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
  border-radius: 8px;
  z-index: 0;
  width: 30%;
  padding: 40px;
  height: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.items span {
  color: gray;
}

.empty {
  text-align: center;
  color: gray;
  letter-spacing: 1px;
}

.price-breakdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .summary {
    width: 100%;
  }
}
