.header-container {
  color: #fff;
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  width: 100%;
}

.header-container .burger-logo {
  display: flex;
}

.header-container .burger {
  display: none;
}

.header-container .cart {
  cursor: pointer;
}

.header-container .menu {
  display: flex;
  gap: 25px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.header-container .menu .menu-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-container .menu .menu-item:hover {
  color: var(--dark-orange);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 950px) {
  .header-container {
    padding: 0 40px;
  }
  .header-container .menu {
    display: none;
  }

  .header-container .burger-logo {
    gap: 40px;
  }

  .header-container .burger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .header-container {
    justify-content: space-between;
    padding: 0 30px;
  }

  .header-container .burger-logo {
    display: flex;
  }

  .header-container .menu {
    display: none;
  }

  .header-container .burger {
    display: block;
    cursor: pointer;
  }
}
