.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  z-index: 10;
  top: 0;
  width: 30vw;
  background-color: white;
  overflow-x: hidden;
  text-align: center;
}

.container .menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 70px;
}

.container .menu .menu-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container .menu .menu-item:hover {
  color: var(--dark-orange);
  transition: all 0.2s ease-in-out;
}

.exit {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 4%;
}

@media (max-width: 950px) {
  .container {
    width: 70vw;
    height: 100%;
    overflow-x: hidden;
  }

  .exit {
    left: 7.5%;
  }
}

@media (max-width: 375px) {
  .exit {
    left: 7.5%;
  }

  .container {
    width: 100vw;
  }
}
