.container {
  display: flex;
  justify-content: center;
  gap: 130px;
  width: 1100px;
  margin-bottom: 130px;
}

.container-reverse {
  display: flex;
  justify-content: center;
  gap: 130px;
  width: 1100px;
  margin-bottom: 130px;
  flex-direction: row-reverse;
}

.img {
  width: 540px;
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.info .description {
  color: gray;
}

.info .new {
  color: var(--dark-orange);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 10px;
  margin-bottom: -20px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.product-page {
  display: flex;
  gap: 20px;
}

@media (max-width: 1200px) {
  .container,
  .container-reverse {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 70px;
  }

  .img,
  .info {
    width: 100%;
  }

  .info {
    align-items: center;
  }
}

@media (max-width: 650px) {
  .container,
  .container-reverse {
    gap: 40px;
  }

  .img {
    width: 100%;
  }

  .info {
    width: 100%;
  }
}

@media (max-width: 1370px) and (min-width: 1200px) {
  .container,
  .container-reverse {
    width: 100%;
  }

  .img,
  .info {
    width: 50%;
  }
}
