.button3 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: transparent;
  color: gray;
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 3px;
  transition: all 0.2s ease-in-out;
}

.button3:hover {
  color: var(--dark-orange);
  transition: all 0.2s ease-in-out;
}

.arrow {
  fill: var(--dark-orange);
}
