.button4 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button4:hover {
  background-color: rgba(0, 0, 0, 0.705);
  transition: all 0.2s ease-in-out;
}
