.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 150px 50px;
}

@media (max-width: 1150px) {
  .content {
    padding: 150px 60px;
  }
}

@media (max-width: 530px) {
  .content {
    padding: 120px 20px;
  }
}
