.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 140px;
}

.bg-gray {
  background-color: var(--gray);
}

@media (max-width: 950px) {
  .content {
    padding: 100px 40px;
  }
}

@media (max-width: 530px) {
  .content {
    padding: 40px 40px;
  }
}
